
#map {
  height: 800px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
    background-image: url(img/bg.jpg);
}

p, li {
    font-size: 20px;
}

#iste_Logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

#aboutContent {
    display: block;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#aboutTitle {
    text-align: center;
}

#aboutQuote {
    font-style: italic;
    display: block;
}

.container {
    display: block;
    margin: auto;
    width: 70%;
}

.contentBlock {
    border: 5px solid rgb(5, 111, 155);
    border-left: 0px;
    border-right: 0px;
    display: block;
}

#undDegreeContent {
    border: none;
    color: white;
    padding-bottom: 30px;
    display: block;
}

#undDegreeContent h1{
    color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    padding: 0%;
    margin-bottom: 20px;
    color: black;
}

.degree {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height: 250px;
    text-align: left;
}

.degree h3 {
    text-align: center;
}

#grdDegreeContent {
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
}

#minorContent {
    border: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#minorContent h1 {
    color: white;
}

#employmentContent {
    background-color: white;
    padding-bottom: 20px;
}

#employmentContent h1 {
    padding-bottom: 50px;
}

#employmentContent h2 {
    text-align: center;
}

.employmentTables {
    overflow: auto;
    height: 300px;
}

#peopleContent {
    border: none;
    color: white;
    text-align: center;
}

#peopleContent h1 {
    color: white;
}

#employers, #careers {
    width: 40%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

#employment {
    text-align: center;
}

#employment p, li {
    text-align: left;
}

#employment p {
    margin-bottom: 50px;
}

#employment h1 {
    margin-bottom: 80px;
}

.employmentTables {
    margin-top: 40px;
    margin-bottom: 40px;
}

.employmentTableTitle {
    margin-bottom: 40px;
    margin-top: 80px;
}

.personBox {
    background-color: rgb(5, 111, 155, 0.4);
    display: inline-block;
    height: 150px;
    width: 300px;
    margin: 20px;
    border: 2px solid rgb(5, 111, 155);
}

.personBox:hover {
    background-color: rgb(5, 111, 155);
}

#researchContent {
    background-color: white;
    padding-bottom: 30px;
}

#resourcesContent {
    border: none;
    color: white;
}

#footer {
    color: white;
    border-top: none;
    text-align: center;
    border-bottom: none;
}

#footer a {
    color: white;
    
}

#links, #copyright, #socialMedia {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

#links {
    float: left;
}

#socialMedia {
    float: right;
}

#copyright {
    margin: auto;
}

#copyright {
    text-align: center;
}

#UNDdegrees, #GRDdegrees {
    text-align: center;
    margin: auto;
    display: inline-block;
    height: 250px;
}

#chartContainer {
    width: 50%;
    text-align: center;
    margin: auto;
    display: block;
}