
#map {
  height: 800px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-image: url(img/background4.png);
}

#iste_Logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

#aboutContent {
    display: block;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#aboutTitle {
    text-align: center;
}

#aboutQuote {
    font-style: italic;
    display: block;
}

.container {
    display: block;
    margin: auto;
    width: 70%;
}

.contentBlock {
    border: 5px solid rgb(232, 104, 6);
    border-left: 0px;
    border-right: 0px;
}

#undDegreeContent {
    border: none;
    color: white;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 60px;
    padding: 0%;
    margin-bottom: 20px;
}

.degree {
    display: inline-block;
    margin: auto;
    width: 30%;
    height: 300px;
}

#grdDegreeContent {
    background-color: white;
    padding-bottom: 20px;
}

#minorContent {
    border: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#minorContent h1 {
    color: white;
}

#employmentContent {
    background-color: white;
}

.employmentTables {
    overflow: auto;
    height: 300px;
}

#peopleContent {
    border: none;
    color: white;
    text-align: center;
}

.personBox {
    background-color: grey;
    display: inline-block;
    height: 150px;
    width: 300px;
    margin: 20px;
}

#researchContent {
    background-color: white;
}

#resourcesContent {
    border: none;
    color: white;
}

#footer {
    color: white;
    border-top: none;   
}

#footer a {
    color: white;
}

#links, #copyright, #socialMedia {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#copyright {
    text-align: center;
}